<h1>Listing monels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monels.each do |monel| %>
  <tr>
    <td><%= monel.name %></td>
    <td><%= monel.email %></td>
    <td><%= link_to 'Show', monel %></td>
    <td><%= link_to 'Edit', edit_monel_path(monel) %></td>
    <td><%= link_to 'Destroy', monel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monel', new_monel_path %>
