<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @monel.name %>
</p>

<p>
  <b>Email:</b>
  <%= @monel.email %>
</p>


<%= link_to 'Edit', edit_monel_path(@monel) %> |
<%= link_to 'Back', monels_path %>
